html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;

}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  color: #414536;
  font-family: "DM Sans", arial;
  font-size: 18px;
  line-height: 28px;
  /* 155.556% */
}

.container {
  max-width: 1330px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

.sec_tit {
  color: #2c2f24;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 100px;
  line-height: 96px;
  /* 96% */
  font-weight: 400;
  margin-bottom: 20px;
}

.sec_sub-tit {
  color: #2c2f24;
  font-family: "Playfair Display", arial;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  /* 110% */
}

.sec_desc {
  color: #495460;
  text-align: center;
  font-style: normal;
}

.color {
  color: #be963f;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #be963f;
}

.btn {
  border-radius: 118px;
  border: 2px solid #2c2f24;
  transition: 0.3s;
  color: #182226;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  padding: 12px 24px;
}

.btn:hover {
  background: #2c2f24;
  color: #fff;
}

.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836a36;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* header */
.head {
  padding: 20px 0;
  align-items: center;
}

.menu a {
  padding: 4px 16px;
  margin-right: 8px;
  color: #2c2f24;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  border-radius: 34px;
  transition: 0.3s;
}

.menu li:last-child a {
  margin-right: 0;
}

.menu a:hover {
  background: #dbdfd0;
}

/* main */
.main .sec_tit {
  max-width: 660px;
  margin: 0 auto 32px;
}

.main_txt {
  max-width: 537px;
  margin: 0 auto 40px;
  color: #2c2f24;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  /* 160% */
}

.main_btns {
  display: flex;
  justify-content: center;
}

.main_btns .btn {
  margin: 0 8px;
}

.main {
  background: url(../img/main_bg.jpg) center no-repeat;
}

.btn__red {
  background: #ad343e;
  color: #fff;
  border-color: #ad343e;
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 717px;

}

.btn__red:hover {
  border-color: #2c2f24;
}

.provide {
  background: #f9f9f7;
}

.provide_in {
  align-items: center;
}

.provide_left {
  width: calc(50% - 45px);
  padding: 0 50px 50px 0;
  position: relative;
}

.provide_info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.provide_right {
  width: calc(50% - 45px);
}

.provide .sec_sub-tit {
  margin-bottom: 24px;
}

.provide_txt {
  color: #2c2f24;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 28px;
  /* 155.556% */
}

.provide_txt-2 {
  color: #414536;
  font-size: 16px;
  line-height: 24px;
  /* 150% */
  margin-bottom: 40px;
}

.provide_info {
  border-radius: 12px;
  background: #474747;
  padding: 50px;
  color: #fff;
  width: 411px;
}

.top {
  background-image: url(/img/BG.jpg);
  width: 1600px;
  height: 690px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 225px;
  margin-bottom: 80px;
}

.feel_play {
  width: 106px;
  height: 106px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  gap: 225px;
  margin-left: 250px;
}

.feel_tit {
  color: var(--neutral-01, #FFF);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  /* 110% */
  width: 596px;

}



.first_img {
  width: 48px;
  height: 48px;
}

.second_img {
  width: 48px;
  height: 48px;
  padding-right: 24px;
}

.second_txt {
  width: 294px;
}

.third_img {
  width: 48px;
  height: 48px;
}

.first_txt {
  width: 294px;
}

.third_txt {
  width: 294px;
}

.bottom {
  display: flex;
  gap: 87px;
  margin-left: 20px;
}

.bottom_first {
  width: 366px;
}

/* little */
.right_img {
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.right_img img {
  transition: 0.5s;
}

.right_img:hover img {
  transform: scale(1.3)
}

.right_img::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/img/chel.jpg);
  opacity: 0;
  z-index: 1;
  transition: 1s;
}

.right_img:hover::before {
  opacity: 3;
}


.left_text {
  width: 556px;
  margin-bottom: 60px;
}

.left_tit {
  color: var(--neutral-07, #2C2F24);

  /* Headline/H2 */
  font-family: 'Playfair Display';
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  /* 110% */
  padding-bottom: 20px;
}

.left_txt {
  color: var(--neutral-06, #414536);

  /* Body/16px/Regular */
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  padding-bottom: 60px;
}

.left_facts {
  width: 610px;
  height: 372px;
}

.left_fact {
  border-radius: 8px;
  border: 1px solid var(--neutral-03, #DBDFD0);
  background: var(--neutral-01, #FFF);
  width: 293px;
  height: 174px;
  flex-shrink: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

}

.fact_tit {
  color: var(--neutral-07, #2C2F24);
  text-align: center;

  /* Headline/H2 */
  font-family: 'Playfair Display';
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  /* 110% */
}

.fact_txt {
  color: var(--neutral-06, #414536);
  text-align: center;

  /* Body/18px/Medium */
  font-family: 'DM Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}

/* our */
.our .sec_tit {
  margin-bottom: 64px;
}

.our_card {
  width: calc((100% - 48px) / 3);
  border-radius: 12px;
  background: var(--neutral-02, #f9f9f7);
  padding: 45px 35px 35px;
}

.our_tit {
  color: #ad343e;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  /* 125% */
  letter-spacing: -0.72px;
  margin-bottom: 24px;
}

.our_txt {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #dbdfd0;
  color: #414536;
  font-size: 18px;
  line-height: 28px;
  /* 155.556% */
}

.our_img {
  width: 70px;
  height: 70px;
}

.our_customer {
  justify-content: flex-start;
}

.our_info {
  padding-left: 20px;
}

.our_name {
  color: #2c2f24;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  margin-bottom: 3px;
  display: block;
}

.our_address {
  color: #414536;
  font-size: 16px;
  line-height: 24px;
  /* 150% */
}

/* footer */
footer {
  padding-top: 120px;
  background: #474747;
}

.logo_img {
  width: 56px;
  height: 55px;
  flex-shrink: 0;
}

.logo_tit {
  color: #FFF;
  font-family: " Playfair Display";
  font-size: 32.67px;
  font-style: italic;
  font-weight: 600;
  line-height: 29.333px;
  /* 89.787% */
  letter-spacing: -0.4px;
  margin-left: 20px;
}

.footer_copy {
  padding: 30px 0 85px;
  color: #ADB29E;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.footer_big {
  padding-bottom: 100px;
  border-bottom: 1px solid #414536;
  color: #DBDFD0;
  width: calc((100% - 270) / 3);
}

.footer_left {
  width: 30%;
}

.footer_nav {
  width: 17%;
}

.footer_right {
  width: 35%;
}

.footer_tit {
  color: #fff;
}

.footer_logo {
  margin-bottom: 30px;
}

.footer_txt {
  margin-bottom: 30px;
}

.footer_img {
  width: calc((100% - 15px) / 2);
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.footer_img img {
  transition: 0.5s;
}

.footer_img:hover img {
  transform: scale(1.2)
}

.footer_img::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.footer_img:hover::before {
  opacity: 0.5;
}

.ic_img {
  width: 56px;
  height: 55px;
}

.footer_icons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer_tit {
  margin-bottom: 40px;
  color: var(--neutral-01, #FFF);

  /* Body/16px/Bold */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

/* sedep */
.sedep {
  background: var(--neutral-02, #F9F9F7);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
}

.row {
  display: flex;
  width: 717px;
  align-items: flex-end;
  gap: 24px;
}

form {
  width: 350px;
  height: 60px;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 72px;
  border: 1px solid var(--neutral-03, #DBDFD0);
  background: var(--neutral-01, #FFF);
}

.sedep_img {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

